Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP_HOST} abchostinginterview.cba.pl$ [NC]
RewriteRule ^(.*)$ index.php?uri=$1 [QSA,L]
